# Banco de Dados - Prof. Sérgio Lifschitz

---

## Exercícios da Aula 3: Continuação com a linguagem SQL DML (consultas)


---


ANTES de começar,  ❗ **não esquecer** ❗ de, antes de mais nada, SALVAR este notebook no ambiente COLAB no drive da tua própria conta GOOGLE.

## PASSO 1: Instalação e Configuração do PostgreSQL

Basta dar PLAY que o script abaixo instalará o SGBD PostgreSQL

In [ ]:
# %%capture
# Instalação do PostgreSQL
!sudo apt-get -y -qq update
!pip install sqlalchemy==2.0
!sudo apt-get -y -qq install postgresql
!sudo service postgresql start
# Alterando a senha do usuário padrão 'postgres' para 'postgres'
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"

## PASSO 2: Preparo do Esquema Relacional EMPRESA

Baixe o esquema e instância de teste do BD EMPRESA neste link: https://drive.google.com/file/d/1zFlLaVJIWZokadeKWICYrWhTW_I2o_Bj/view?usp=sharing

❗Coloque o arquivo baixado *.SQL na **pasta padrão do seu Google Drive** ❗

Em seguida, é só dar PLAY (nas duas células seguintes!) pois os scripts (programas) abaixo preparam o ambiente para realizar consultas SQL no esquema de BD EMPRESA no seu próprio COLAB.

In [ ]:
# [2.1] Monta o diretório do Google Drive no seu Colab
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# [2.2] Cria o esquema no banco de dados EMPRESA no Colab
%%capture
!sudo -u postgres psql -U postgres -c 'DROP SCHEMA IF EXISTS empresa CASCADE;'
!sudo -u postgres psql -U postgres -c 'CREATE SCHEMA empresa;'
!PGPASSWORD='postgres' psql -h localhost -U postgres -d postgres -a -f drive/MyDrive/esquema_empresa.sql

## PASSO 3: Preparando para usar o SGBD PostgreSQL localmente

Mais uma vez, é só dar PLAY (nas duas células seguintes!)

In [ ]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

# Configurando o PostgreSQL na variável de ambiente DATABASE_URL
%env DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres

In [ ]:
# Carregando a extensão sql para usar o SQL pelo Google Colab
%load_ext sql

## **Lista de Exercícios**

Prática de SQL sobre o esquema EMPRESA implantado no SGBD PostgreSQL, já considerando a sintaxe completa após as 3 aulas do módulo "Banco de Dados"

### Esquema relacional da **base de dados Empresa**:

Seja o esquema relacional da base de dados simplificada de uma EMPRESA genérica. As chaves primárias (PK) respectivas estão sublinhadas e as chaves estrangeiras em itálico

<img src='https://drive.google.com/uc?id=1JWCG8paO9ksU-22L79Qmnkb4iYAHnlOy'>

A empresa é organizada em departamentos, cada qual tendo um nome, um número de identificação e um empregado (gerente) responsável pelo mesmo. Guarda-se como informação a data a partir da qual o empregado assumiu a gerência do departamento. Um departamento pode estar presente em diversas localidades do país.

Um departamento controla um certo número de projetos, e cada projeto tem um nome, um número de identificação e uma localidade única. Os departamentos têm vários empregados, para os quais guarda-se os respectivos nomes, número de identificação (Ident) na empresa, endereço (End) residencial, sexo, data de nascimento e salário (sal) em reais. Todo empregado tem um empregado que é seu superior hierárquico (supervisor direto - SuperIdent) dentro do departamento, informação que também deve ser mantida no banco de dados.

Um empregado é alocado a um único departamento mas pode trabalhar em mais de um projeto, estes não necessariamente controlados pelo departamento ao qual ele pertence. Controla-se o total de horas semanais (HRS) em que um empregado trabalha em cada projeto.

Para fim de controle de seguro de saúde de cada empregado, deve-se manter informações dos nomes, sexo, data de nascimento e grau de parentesco de seus dependentes. Estes são identificados por seu nome mas, também, pela identidade do empregado do qual dependem.

As restrições de integridade referenciais são: o atributo SuperIdent é chave estrangeira (FK) referenciando a PK da própria tabela EMPREGADO, da mesma forma que IdentGer em DEPARTAMENTO e IdentEmp em TRABALHA_NO e DEPENDENTE. DepNum é FK para a PK Num em DEPARTAMENTO em 3 tabelas: Empregado, Projeto e DepLoc. Por fim, ProjNum é FK em TRABALHA_NO referenciando a PK Num em PROJETO.

**ATENÇÃO:** deve-se dar play na próxima célula sempre que for usar o esquema EMPRESA!

In [ ]:
# Ativando o esquema empresa
%%sql
SET SCHEMA 'empresa';

**Consulta exemplo:** Quais empregados trabalham no Departamento de Informática?

In [ ]:
# Para rodar a consulta em SQL abaixo, basta dar PLAY nesta célula!

# Se quiser, pode mudar o departamento e verificar as respostas
# (instâncias!) distintas. Para isso consultar quais departamentos
# existem na tabela Departamento desta instância exemplo.

# Atenção ao uso de acentos, maiúsculas e minúsculas: para SQL e para atributos
# das relações não faz diferença. Entretando, para valores sim! Se tivesse usado
# "informática" com acento ou tudo minúsculo teria retornado uma tabela vazia.

%%sql

SELECT ident as IDENTIDADE, nome as NOME_EMPREGADO
FROM   empregado
WHERE  depnum in (SELECT num
                  FROM departamento
                  WHERE nome = 'Informatica')

### 1. Listar todos os Números dos projetos e os respectivos Números de departamentos que os controlam.

In [ ]:
%%sql

### 2 Listar todos os Números e Nomes dos projetos, e os respectivos Números e Nomes de departamentos que os controlam.

In [ ]:
%%sql

### 3. Exibir o nome e grau de parentesco dos dependentes juntamente com a identidade e nome dos empregados dos quais dependem.

In [ ]:
%%sql

### 4. Para cada empregado, mostrar seu nome e sexo, e a identidade e nome do seu superior imediato.

In [ ]:
%%sql

### 5. Listar os diferentes valores de salários pagos aos empregados da empresa.

In [ ]:
%%sql

### 6. Quais os nomes dos empregados que trabalham menos de 20 horas por semana em algum projeto?

In [ ]:
%%sql

### 7. Apresentar os nomes de todos os empregados que não têm dependentes.

In [ ]:
%%sql

### 8. Quais empregados tem cargos de chefia, isto é, não têm superior imediato?

In [ ]:
%%sql

### 9. Listar todos os locais onde se encontram departamentos da empresa ou onde são realizados projetos.

In [ ]:
%%sql

### 10. Apresentar o resultado dos salários dos empregados que trabalham no projeto “Reengenharia” caso fosse dado um aumento de 10%.

In [ ]:
%%sql

### 11. Quais os nomes dos empregados e os números de departamento dos quais eles são gerentes, se o forem?

In [ ]:
%%sql

### 12. Listar os nomes dos empregados, assim como os departamentos onde trabalham, que ganham mais do que qualquer empregado do departamento de nome *Pesquisa*

In [ ]:
%%sql

### 13. Listar os nomes dos empregados que trabalham o mesmo total de horas em algum projeto em que o empregado Caetano Veloso trabalha

In [ ]:
%%sql

### 14. Quais empregados ganham o maior salário? Listar identidade, nome e salário.

In [ ]:
%%sql

### 15. Quais os nomes dos empregados que ganham os 3 maiores salários da empresa?

In [ ]:
%%sql

# OUTRAS e NOVAS CONSULTAS podem ser propostas para prática de SQL nesta Sprint.

⚡ **Fiquem atentos ao Discord!**  ⚡

# Seguem, abaixo, as células com as consultas resolvidas!


---


❗**NÃO OLHAR ANTES de TENTAR FAZER** ❗

In [ ]:
#1 Listar todos os Números dos projetos e os respectivos Números de departamentos que os controlam.
%%sql
SELECT Num AS NumProjeto, DepNum as NumDeptoControlador
FROM Projeto

In [ ]:
#2 Listar todos os Números e Nomes dos projetos, e os respectivos Números e Nomes de departamentos que os controlam.
%%sql
SELECT P.Num AS NumProjeto, P.Nome as NomeProjeto, D.Num as NumDepto, D.Nome as NomeDepto
FROM Projeto P INNER JOIN Departamento D
ON P.Depnum = D.Num

In [ ]:
#3 Exibir o nome e grau de parentesco dos dependentes juntamente com a identidade e nome dos empregados dos quais dependem.
%%sql
SELECT Depe.Nome, Parentesco, Ident, Emp.Nome
FROM DEPENDENTE as Depe INNER JOIN EMPREGADO as Emp
ON IdentEmp = Ident;

In [ ]:
#4 Para cada empregado, mostrar seu nome e sexo, e a identidade e nome do seu superior imediato.
%%sql
SELECT E.Nome as NomeEmpregado, E.Sexo as SexoEmpregado, S.Ident as IdentSuperior, S.Nome as SexoSuperior
FROM EMPREGADO as E INNER JOIN EMPREGADO as S
ON E.SUPERIDENT= S.IDENT;

In [ ]:
#4 Solução alternativa com JOIN a la SQL2
%%sql
SELECT E.Ident as IdentSuper, E.NOME as NomeSuper, S.NOME as NomeSub, S.SEXO as SexoSub
FROM EMPREGADO as E, EMPREGADO as S
WHERE E.SUPERIDENT= S.IDENT;

In [ ]:
#5 Listar os diferentes valores de salários pagos aos empregados da empresa.
%%sql
SELECT DISTINCT Sal
FROM EMPREGADO;

In [ ]:
#6 Quais os nomes dos empregados que trabalham menos de 20 horas por semana em algum projeto?
%%sql
SELECT DISTINCT Nome
FROM EMPREGADO INNER JOIN TRABALHANO
ON Ident = IdentEmp
WHERE HRS < 20;

In [ ]:
#7 Apresentar os nomes de todos os empregados que não têm dependentes.
%%sql
SELECT nome
FROM empregado
WHERE ident NOT IN
  (SELECT identEmp
   FROM   Dependente)

In [ ]:
#8 Quais empregados tem cargos de chefia, isto é, não têm superior imediato?
%%sql
SELECT nome
FROM empregado
WHERE superident is NULL

In [ ]:
#9 Listar todos os locais onde se encontram departamentos da empresa ou onde são realizados projetos.
%%sql
( SELECT	Local 	FROM		PROJETO )
UNION  -- ou UNION ALL
( SELECT	Local 	FROM		DEPLOC )

In [ ]:
#10 Apresentar o resultado dos salários dos empregados que trabalham no projeto “Reengenharia” caso fosse dado um aumento de 10%.
%%sql
SELECT	EMPREGADO.NOME, 1.1*SAL AS SALARIOmais10porcento
FROM 		EMPREGADO, TRABALHANO, PROJETO
WHERE 	EMPREGADO.IDENT = TRABALHANO.IDENTEMP
AND 		TRABALHANO.PROJNUM = PROJETO.NUM
AND 		PROJETO.NOME = 'Reengenharia';

In [ ]:
#11 Quais os nomes dos empregados e os números de departamento dos quais eles são gerentes, se o forem?
%%sql
SELECT Distinct E.nome, D.num as "Numero se for gerente"
FROM 		        Departamento D RIGHT OUTER JOIN Empregado E
ON 		          E.Ident = D.IdentGer
ORDER BY 	      E.nome

In [ ]:
#12 	Listar os nomes dos empregados, assim como os departamentos onde trabalham, que ganham mais do que qualquer empregado do departamento de nome “Pesquisa”
%%sql
SELECT 	E.nome AS NomeEmp, D.nome AS NomeDepto
FROM		empregado E INNER JOIN departamento D
ON 	    E.depnum = D.num
AND 		sal >ALL
            (
              SELECT sal
						  FROM    empregado E INNER JOIN departamento D
						  ON      E.depnum = D.num
              AND 		D.nome = 'Pesquisa'
            )

In [ ]:
#13 Listar os nomes dos empregados que trabalham o mesmo total de horas em algum projeto em que o empregado Caetano Veloso trabalha
%%sql
SELECT 	DISTINCT Nome
FROM 		Trabalhano T1, Empregado E1
WHERE 	T1.IdentEmp = E1.Ident
AND		  E1.Nome <> 'Caetano Veloso'
AND 		EXISTS
    (
      SELECT ProjNum, HRS
		 	FROM Trabalhano T2, Empregado E2
		 	WHERE T2.IdentEmp = E2.Ident
		 	AND E2.Nome = 'Caetano Veloso'
		 	AND T2.ProjNum = T1.ProjNum
		 	AND T2.HRS = T1.HRS
    )

In [ ]:
#14 Quais empregados ganham o maior salário? Listar identidade, nome e salário.
%%sql
SELECT ident, nome, sal
FROM   empregado
WHERE  sal IN
  (
    SELECT max(sal)
    FROM   empregado
  )

In [ ]:
#15 Quais os nomes dos empregados que ganham os 3 maiores salários da empresa?
# solução 1: força bruta ...
%%sql
SELECT ident, nome, sal
FROM empregado
WHERE sal IN
    (SELECT MAX(sal)
     FROM empregado)
OR sal IN
    (SELECT MAX(sal)
     FROM empregado
     WHERE sal NOT IN
        (SELECT MAX(sal)
         FROM empregado))
OR sal IN
    (SELECT MAX(sal)
     FROM empregado
     WHERE sal NOT IN
        (SELECT MAX(sal)
         FROM empregado)
    AND sal NOT IN
        (SELECT MAX(sal)
         FROM empregado
         WHERE sal NOT IN
             (SELECT MAX(sal)
              FROM empregado)))
ORDER BY sal desc

In [ ]:
#15 Solução alternativa e mais elegante: se quiser os 5 maiores,
## basta substituir 3 por 5
%%sql
SELECT ident, nome, sal
FROM   empregado e1
WHERE  3 >
  (
    SELECT count (distinct SAL)
		FROM   empregado e2
		WHERE  e2.sal > e1.sal
  )
ORDER BY sal desc